.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 40px 0 60px;
}
.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}
.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}
.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}
.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 75%;
}
.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: transparent;
	color: transparent;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}
.cbp-fwslider nav span:hover {
	background: transparent;
	color: #fff;
}
.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}
.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}
.cbp-fwnext,.cbp-fwprev{
       text-shadow: rgb(204, 204, 204) 0px 1px 0px,
       rgb(201, 201, 201) 0px 2px 0px,
       rgb(187, 187, 187) 0px 3px 0px,
       rgb(185, 185, 185) 0px 4px 0px,
       rgb(170, 170, 170) 0px 5px 0px,
       rgba(0, 0, 0, 0.1) 0px 6px 1px,
       rgba(0, 0, 0, 0.1) 0px 0px 5px,
       rgba(0, 0, 0, 0.3) 0px 1px 3px,
       rgba(0, 0, 0, 0.15) 0px 3px 5px,
       rgba(0, 0, 0, 0.2) 0px 5px 10px,
       rgba(0, 0, 0, 0.2) 0px 10px 10px,
       rgba(0, 0, 0, 0.1) 0px 20px 20px;
}
.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}
.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #fff;
        border:1px solid #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}
.cbp-fwdots span:hover {
	background: #999;
}
.cbp-fwdots span.cbp-fwcurrent {
	background: #ccc;
}
