@font-face{
font-family:'Myriad Pro';
src:url('fonts/MyriadPro/MyriadPro-Regular.eot');
src:url('fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
url('fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
url('fonts/MyriadPro/MyriadPro-Regular.svg#Myriad Pro') format('svg');
font-weight:normal;
font-style:normal}

@font-face{
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold?iefix') format('eot'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular?iefix') format('eot'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'Raleway', sans-serif;
	color: #333;
	text-align: center;
}

h1, h2, h3 {
  text-transform:uppercase;
}

#toplogo .snopno {
  font-size: 15px;
  font-family: "Montserrat";
  color: rgba( 0, 0, 0, 0.98 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.100; /*исходная 1.647*/
  text-align: center;
  text-shadow: 0px 0px 2px rgb( 21, 21, 22 );
}

#toplogo .Rectangle_41 {
  border-width: 5.54px;
  border-color: rgb( 23, 15, 28 );
  border-style: solid;
  width: 101.92px;
  height: 34.92px; /*исходная 34.92px*/
}

#toplogo .bluesimple {
  font-size: 20px;
  font-family: "Montserrat";
  color: rgba( 121, 239, 229, 0.98 );
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb( 21, 21, 22 );
}

#toplogo {
  height:120px;
  background-color: rgba(239, 240, 242, 1);
}

#toplogo .navbar {
  padding-top: 80px;
}

header {
  height: 700px;
  background-color: rgba(239, 240, 242, 1);
}

header h1 {
  font-family: 'Montserrat-Bold',sans-serif;
  color: rgb(80, 80, 80);
  padding-top: 200px;
  text-shadow: 4.5px 7.794px 10px rgba( 0, 0, 0, 0.24 );
  font-size: 34px;
}

header .sloganbluebg{
  background-color: rgba( 121, 239, 229, 0.98 );
  padding-left: 5px;
  padding-right: 5px;
}

header .contact_row{
  height: 150px;
}

header .contact_us {
  font-size: 16px;
  font-family: "Montserrat-Regular";
  color: rgba( 0, 0, 0, 0.749 );
  height: 35px;
  text-transform: uppercase;
  line-height: 2.000;
}

header .border_us {
  border-width: 2px;
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-radius: 2px;
  opacity: 0.502;
}

header .btn-contactus {
  padding: 10px;
  border-radius: 2px;
  border: 2px solid #000000;
  opacity: 0.75;
  color: #000000;
  background-color: #eff0f2;
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.16px;
}
header a,
      a:link {
  text-decoration: none;
}

header a:hover {
  background-color: rgba( 0, 234, 229, 1 );
}

header .glass {
  padding: 0px;
  margin-top: -30px;
}

@media (max-width: 769px) {
  .glass {
    margin-top: 10px;
  }
}

.glass img{
  padding: 0px;
}

#aboutUs {
  min-height: 988px;
  background-color: rgb(248, 250, 250);
}

#aboutUs .title,
#works .title,
#mostService .title {
  height: 320px;
}

#aboutUs .title h2,
#works .title h2,
#mostService .title h2 {
  font-size: 28px;
  font-family: 'Montserrat-Bold',sans-serif;
  color: rgba( 0, 0, 0, 0.902 );
  text-transform: uppercase;
  text-align: center;
}

#aboutUs .title span,
#works .title span,
#mostService .title span {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Merriweather',sans-serif;
  color: rgba( 0, 0, 0, 0.62 );
}

#aboutUs .slider {
  background-image: url(../img/bg_slider.png);
  background-position: center;
}

#aboutUs .shadow {
  box-shadow: 0px 0px 30px 0px rgb( 20, 20, 21 );
}

#aboutUs .carousel-indicators {
  position: absolute;
  bottom: -40px;
}

#aboutUs .carousel-indicators .active{
  background-color: rgb( 113, 246, 235 );
}

#aboutUs .carousel-indicators li{
  background-color: rgb( 208, 208, 208 );
}

#aboutUs .group9 p {
  font-size: 16px;
  text-align: left;
  margin: 20px 50px;
}

#aboutUs .group9 h3 {
  font-family: 'Merriweather',serif;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  margin-left: 50px;
}

#works .title h2 {
  font-size: 28px;
  font-family: 'Montserrat-Bold',sans-serif;
  color: rgba( 0, 0, 0, 0.902 );
  text-transform: uppercase;
  text-align: center;
}

#works .title span {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Merriweather',sans-serif;
  color: rgba( 0, 0, 0, 0.62 );
}

#works .blocks {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(2, 300px);
}

#works .img1 {
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
}

#works .img1:hover,
       .img2:hover,
       .img3:hover,
       .img4:hover,
       .img5:hover,
       .img6:hover {
  background-color: #00aeef;
  background-size: cover;
  background-position: center;
  opacity: .6;
}

#works .img2 {
  background-image: url(../img/2.jpg);
  background-size: cover;
}

#works .img3 {
  background-image: url(../img/3.jpg);
  background-size: cover;
}

#works .img4 {
  background-image: url(../img/4.jpg);
  background-size: cover;
  background-position: center;
}

#works .img5 {
  background-image: url(../img/5.jpg);
  background-size: cover;
}

#works .img6 {
  background-image: url(../img/6.jpg);
  background-size: cover;
  background-position: center;
}

#works .blocks2 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 300px);
}

#works .blocks2 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mostService .block {
  height: 420px;
  padding: 0 15px 15px 0;
  overflow: hidden;
}

#mostService .bg {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

#mostService .bg:hover .overlay {
  opacity: 1;
}

#mostService .image {
  height: 100%;
  width: 100%;
  opacity: .3;
}

#mostService .image2 {
  height: 100%;
  /* width: 100%; */
  opacity: .3;
}

#mostService .text {
  color: white;
  font-size: 20px;
  position: absolute;
  padding: 60px;
  text-align: center;
}

#mostService .textblock {
  color: white;
  font-size: 20px;
  position: absolute;
  padding: 160px 60px 10px 60px;
  text-align: center;
}

#mostService .block h3 {
  font-size: 17px;
  font-family: "Merriweather";
  color: rgba( 255, 255, 255, 1 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.45;
  text-align: left;
}

#mostService .block h4 {
  font-size: 16px;
  font-family: "Raleway";
  color: rgba( 255, 255, 255, 1 );
  text-transform: none;
  line-height: 1.75;
  text-align: left;
}

#mostService .block h6 {
  font-size: 19px;
  font-family: "Raleway";
  color: rgba( 255, 255, 255, 1 );
  text-transform: uppercase;
  text-align: left;
}

#mostService .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6df6eb;
}

#mostService .block h5 {
  font-size: 17px;
  font-family: "Merriweather";
  color: rgba( 0, 0, 0, 0.831 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.45;
  text-align: left;
}

#mostService .block p {
  font-size: 16px;
  font-family: "Raleway";
  color: rgba( 0, 0, 0, 0.749 );
  line-height: 1.75;
  text-align: left;
}

#mostService .block2 {
  height: 420px;
  margin: 0 15px 15px 0;
  /* padding: 0 15px 15px 0; */
  overflow: hidden;
}

#mostService .bg2 {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

#mostService .card-img {
  height: 420px;
  width: 100%;
  border: none;
  opacity: .3;
}

#teamPart .header{
  height: 300px;
  padding-top: 124px;
}

#teamPart .header h2 {
  font-size: 38px;
  font-family: "Montserrat-Bold";
  color: rgba( 0, 0, 0, 0.902 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.737;
  text-align: center;
}

#teamPart .headerspan {
  font-size: 17px;
  font-family: "Merriweather";
  color: rgba( 0, 0, 0, 0.62 );
  text-transform: uppercase;
  line-height: 1.647;
  text-align: center;
}

#teamPart .cardblue {
  background-color: #6df6eb;
  border: 0;
  text-align: left;
}

#teamPart .cardblue h5{
  font-size: 15px;
  font-family: "Merriweather";
  color: rgba( 39, 39, 39, 0.949 );
  font-weight: bold;
  line-height: 1.2;
}

#teamPart .cardblue span{
  font-size: 12px;
  font-family: "Merriweather";
  font-style: italic;
  color: rgba( 117, 119, 118, 0.949 );
  font-weight: bold;
  line-height: 1.2;
}

#teamPart .cardblue p {
  font-size: 12px;
  font-family: "Raleway";
  color: rgba( 0, 0, 0, 0.8 );
  line-height: 1.5;
  text-align: left;
}

#teamPart .cardblue img{
  width: 15px;
  height: 15px;
  margin-right: 10px;

}

#teamPart .team{
    margin: 4em 0;
    position: relative;
}

#teamPart .team .item{
    position: relative;
    padding: 0 15px 15px 0;
}

#teamPart .team .des{
    height: 50%;
    background:#6df6eb;
    position: absolute;
    margin: 50% 5% 0 0;
    width: 80%;
    top: 0;
    text-align: center;
    transition:.3s ease-in-out;
    opacity: 0;
}

#teamPart .team .item:hover .des{
    height: 50%;
    background:#6df6eb;
    position: absolute;
    margin: 50% 5% ;
    width: 80%;
    top: 0;
    opacity: 1;
}

/* testimonial */
#testimonial {
  background-color: #f9fbfb;
  padding-bottom: 160px;
}

#testimonial .header {
  margin-top: 237px;
  margin-bottom: 160px;
}

#testimonial .header h2 {
  font-size: 38px;
  font-family: "Montserrat";
  color: rgba( 0, 0, 0, 0.902 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.737;
}

#testimonial .header span {
  font-size: 17px;
  font-family: "Merriweather";
  color: rgba( 0, 0, 0, 0.62 );
  text-transform: uppercase;
}

#testimonial .slider {
  height: 420px;
  background-image: url(../img/bg_slider.png);
  background-position: 25% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}
#testimonial .bg {
  height: 420px;
  padding-top: 4%;
  padding-bottom: 4%;
}

#testimonial .post {
  height: 100%;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #eaebed;
}

#testimonial .post h5 {
  font-size: 17px;
  font-family: "Merriweather";
  color: rgba( 0, 0, 0, 0.949 );
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

#testimonial .post span {
  font-size: 12px;
  font-family: "Merriweather";
  font-style: italic;
  color: rgba( 117, 119, 118, 0.949 );
  font-weight: bold;
  line-height: 1.2;
}

#testimonial .post p {
  font-size: 16px;
  font-family: "Raleway";
  color: rgba( 0, 0, 0, 0.702 );
  line-height: 1.688;
  text-align: center;
}

#testimonial .activepost {
  position: absolute;
  top: 20%;
  left: 29%;
}
.carousel-control-prev, .carousel-control-next {
  color: #b2b2b2;
}

#testimonial .shadow {
  box-shadow: 0px 0px 30px 0px rgb( 20, 20, 21 ); /* Параметры тени */
}

#testimonial .carousel-indicators {
  position: absolute;
  bottom: -40px;
}

#testimonial .carousel-indicators .active{
  background-color: rgb( 113, 246, 235 );
}

#testimonial .carousel-indicators li{
  background-color: rgb( 208, 208, 208 );
}

.control-box {
    text-align: right;
    width: 100%;
}

#testimonial .carousel-control{
        background: #fff;
        /* color: #25514d; */
        border-radius: 3px;
        background-color: rgb( 255, 255, 255 );
        box-shadow: 2px 3px 11px 0px rgb( 10, 10, 11, .5 );
        display: inline-block;
        font-size: 50px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: relative;
        height: 45px;
        width: 45px;
}

#testimonial .left:hover {
  background: #71f6eb;
}
#testimonial .right:hover {
  background: #71f6eb;
}

#testimonial .carousel-control-prev-icon {
  background-image: url(../img/prev.png);
  background-position: center;
}

#testimonial .carousel-control-next-icon {
  background-image: url(../img/next.png);
  background-position: center;
}

#testimonial .carousel-control-prev-icon:hover {
  background-image: url(../img/prev_hover.png);
  background-position: center;
}

#testimonial .carousel-control-next-icon:hover {
  background-image: url(../img/next_hover.png);
  background-position: center;
}
/* footer */
#footerlogo {
  /* height: 267px; */
  margin-top: 120px;
}

#footerlogo .logo1 {
  background-image: url(../img/logo9.png);
  background-size: cover;
}
#footerlogo .logo1:hover {
  background-image: url(../img/logo9a.png);
}
#footerlogo .logo1:hover img{
  opacity: 0;
}

#footerlogo .logo2 {
  background-image: url(../img/logo8.png);
  background-size: cover;
}
#footerlogo .logo2:hover {
  background-image: url(../img/logo8a.png);
}
#footerlogo .logo2:hover img{
  opacity: 0;
}

#footerlogo .logo3 {
  background-image: url(../img/logo7.png);
  background-size: cover;
}
#footerlogo .logo3:hover {
  background-image: url(../img/logo7a.png);
}
#footerlogo .logo3:hover img{
  opacity: 0;
}

#footerlogo .logo4 {
  background-image: url(../img/logo4.png);
  background-size: cover;
}
#footerlogo .logo4:hover {
  background-image: url(../img/logo4h.png);
}
#footerlogo .logo4:hover img{
  opacity: 0;
}

#footerlogo .logo5 {
  background-image: url(../img/logo5.png);
  background-size: cover;
}
#footerlogo .logo5:hover {
  background-image: url(../img/logo5a.png);
}
#footerlogo .logo5:hover img{
  opacity: 0;
}

#footerlogo .logo6 {
  background-image: url(../img/logo6.png);
  background-size: cover;
}
#footerlogo .logo6:hover {
  background-image: url(../img/logo6a.png);
}
#footerlogo .logo6:hover img{
  opacity: 0;
}

#footerlogo .logo7 {
  background-image: url(../img/logo7.png);
  background-size: cover;
}
#footerlogo .logo7:hover {
  background-image: url(../img/logo7a.png);
}
#footerlogo .logo7:hover img{
  opacity: 0;
}

#footerlogo .logo8 {
  background-image: url(../img/logo8.png);
  background-size: cover;
}
#footerlogo .logo8:hover {
  background-image: url(../img/logo8a.png);
}
#footerlogo .logo8:hover img{
  opacity: 0;
}

#footermap {
  /* height: 590px; */
 /* background-image: linear-gradient(to bottom, black 0%, transparent 100%), url(http://i.imgur.com/Tpn26TW.jpg); */
  background-image: linear-gradient(to bottom, white 0%, transparent 100%), url(../img/bg_footer.jpg);
  background-position: center;
  background-size: cover;
  text-align: left;
  /* margin-bottom: 120px; */
  /* opacity: .8; */
}
#footermap .bg {
  background-color: rgb( 248, 250, 251 );
  /* radial-gradient(at top, #FEFFFF, #f8fafb); */
  height: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  opacity: 0.8;
}

#footermap .grey {
  height: 100%;
  font-size: 15px;
  font-family: "Raleway";
  color: rgba( 255, 255, 255, 0.6 );
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 1);
  /* opacity: 1; */
  box-shadow: 0px 0px 1px 0px rgb( 21, 21, 21 );
  padding: 2%;
  margin-right: 25px;
}
#footermap .form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
}

#footermap .btn-primary {
  font-size: 18px;
  font-weight: bold;
  /* font-family: "Montserrat"; */
  color: rgba( 0, 0, 0, 1 );
  text-transform: uppercase;
  line-height: 1.556;
  border-radius: 2px;
  /* border-color: none; */
  background-color: rgb( 110, 238, 228 );
}

#footermap .map {
  height: 255px;
}

#footermap .map img{
  opacity: 1;
}

#footersocial {
  height: 312px;
  background-color: rgba(38, 43, 46, 1);
}

#footersocial h5 {
  font-size: 16px;
  font-family: "Raleway";
  text-transform: uppercase;
  color: rgba( 255, 255, 255, 0.8 );
  line-height: 1.563;
  padding-top: 90px;
}

#footersocial img {
  background-color: rgb( 138, 138, 138 );
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 5px;
}

#footersocial img:hover {
  background-color: rgb( 113, 246, 235 );
}

#footersocial span {
  font-size: 16px;
  font-family: "Raleway";
  color: rgba( 255, 255, 255, 0.4 );
  line-height: 1.563;
  text-align: center;
}
